<div class="row">
  <div class="col-md-6 col-md-offset-3 text-center">
    <h1><%= @project_name %></h1>
    <%= link_to 'Back to Projects List', projects_path %>

    <%= form_tag({controller: "projects", action: "show"}, method: "get") do %>
      <%= hidden_field_tag "project[id]", @project_id %>
      <%= hidden_field_tag "project[name]", @project_name %>
      <div class="row input">
        <div class="col-sm-offset-2 col-sm-4">
          <%= label_tag :start_date, "Start Date", class: "control-label" %>
          <%= date_field_tag "project[start_date]", @start_date, class: "form-control date" %>
        </div>
        <div class="col-sm-4">
          <%= label_tag :end_date, "End Date", class: "control-label" %>
          <%= date_field_tag "project[end_date]", @end_date, class: "form-control date" %>
        </div>
      </div>
      <%= submit_tag "Change Dates", class: "btn btn-default" %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3 text-center">
    <h3><%= @start_date.to_s(:long) %> to <%= @end_date.to_s(:long) %></h3>
    <p>
      <% if @report %>
        <% @report.each do |key, value| %>
          <p>
            <% if key != "Unassigned" %>
              <h4><%= key %>: <%= value.sum %> points</h4>
            <% else %>
              <h4>Unassigned: <%= value.sum %> points</h4>
            <% end %>
          </p>
        <% end %>
      <% else %>
        <p>No tasks with points for this date range.</p>
      <% end %>
    </p>
  </div>
</div>